<form class="grid grid-cols-3 gap-4" action="/sessions" accept-charset="UTF-8" method = "post">
  <div class="mb-4 col-span-3">
    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 ">Username</label>
    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="username" />
  </div>
  <div class="mb-4 col-span-3">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
    <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="password" />
  </div>
  <div class="mb-4 col-span-3">
    <a href="password_resets/new"> Forgot password</a>
  </div>
  <div class="flex items-start mb-4 col-span-3">
    <div class="flex items-center h-5">
      <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium text-blue-600 hover:pointer">Remember me</label>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>
